<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="ipEndPointsConfiguration" type="TCell.Configuration.IPEndPoint.IPEndPointsSection, TCell.Configuration" />
    <section name="serialPortsConfiguration" type="TCell.Configuration.SerialPort.SerialPortsSection, TCell.Configuration" />
    <section name="powerOnMachineConfiguration" type="TCell.WindowsServicePlugins.PowerOnActor.Configuration.PowerOnSection, TCell.WindowsServicePlugins.PowerOnActor" />
    <section name="modbusReceiverConfiguration" type="Mexxum.WindowsServicePlugins.ModbusCommand.Configuration.ModbusReceiverSection, Mexxum.WindowsServicePlugins.ModbusCommand" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="TCell.Logging">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="c:/tcell/log/uni-windows-service.log" formatter="Text Formatter" rollSizeKB="8192" maxArchivedFiles="100"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           template="Timestamp: {timestamp}{newline}Message: {message}{newline}Category: {category}{newline}Priority: {priority}{newline}EventId: {eventid}{newline}Severity: {severity}{newline}Title:{title}{newline}Machine: {localMachine}{newline}App Domain: {localAppDomain}{newline}ProcessId: {localProcessId}{newline}Process Name: {localProcessName}{newline}Thread Name: {threadName}{newline}Win32 ThreadId:{win32ThreadId}{newline}Extended Properties: {dictionary({key} - {value}{newline})}"
           name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="TCell.Logging">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <ipEndPointsConfiguration>
    <ipEndPoints>
      <add Id="uniServiceTcpLocal" Protocol="Tcp" Port="20000" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />

      <add Id="uniServiceUdpLocal" Protocol="Udp" Port="20001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="uniServiceUdpRemote" Protocol="Udp" IP="127.0.0.1" Port="20002" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />

      <add Id="uniServiceUdpBroadcast" Protocol="Udp" IP="192.168.0.255" Port="25000" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />

      <add Id="udpActor1" Category="UdpActor" Protocol="Udp" IP="192.168.0.100" Port="25001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="udpActor2" Category="UdpActor" Protocol="Udp" IP="192.168.0.101" Port="25001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="udpActor3" Category="UdpActor" Protocol="Udp" IP="192.168.0.102" Port="25001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="tcpActor1" Category="TcpActor" Protocol="Tcp" IP="192.168.0.100" Port="25001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="tcpActor2" Category="TcpActor" Protocol="Tcp" IP="192.168.0.101" Port="25001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="tcpActor3" Category="TcpActor" Protocol="Tcp" IP="192.168.0.102" Port="25001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />

      <add Id="windowsServiceModbusReceiver" Protocol="Tcp" IP="222.222.221.254" Port="502" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
    </ipEndPoints>
  </ipEndPointsConfiguration>
  <serialPortsConfiguration>
    <serialPorts>
      <add Id="Projector1" PortName="COM3" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
      <add Id="Projector2" PortName="COM4" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
      <add Id="Projector3" PortName="COM5" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
      <add Id="Projector4" PortName="COM6" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
      <add Id="Projector5" PortName="COM7" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
      <add Id="Projector6" PortName="COM8" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
    </serialPorts>
  </serialPortsConfiguration>
  <powerOnMachineConfiguration>
    <!-- Binary, Decimal, Hexdecimal -->
    <powerOn N-Nary="Hexdecimal" />
    <machines>
      <add Name="machine1" Mac="00-E0-4C-68-C7-57" />
      <add Name="machine2" Mac="00-E0-70-26-11-1F" />
    </machines>
  </powerOnMachineConfiguration>
  <modbusReceiverConfiguration>
    <!-- QueryInterval in milli second -->
    <!-- Binary, Decimal, Hexdecimal -->
    <modbusReceiver QueryInterval="500" N-Nary="Binary" />
    <commands>
      <!--投影开关机-->
      <add Name="--------,-------J" Command="epsonPowerSwitch" />
      <!--视频暂停-->
      <add Name="--------,------1-" Command="pause" />
      <!--视频播放-->
      <add Name="--------,------0-" Command="play" />
      <!--电视视频播放-->
      <add Name="--------,-----1--" Command="play?deviceids=TV1&amp;path=1.wmv" />
      <!--电视logo-->
      <add Name="--------,-----0--" Command="play?deviceids=TV1&amp;path=logo.jpg" />
      <!--PPT下一页-->
      <add Name="--------,---01---" Command="ppt-control?deviceids=TV2&amp;action=next" />
      <!--PPT上一页-->
      <add Name="--------,---10---" Command="ppt-control?deviceids=TV2&amp;action=previous" />
      <!--PPT第一页-->
      <add Name="--------,---11---" Command="ppt-control?deviceids=TV2&amp;action=first" />
      <!--PPT最后一页-->
      <add Name="--------,---00---" Command="ppt-control?deviceids=TV2&amp;action=last" />
      <!--播放定制-->
      <add Name="--------,-01-----" Command="play?deviceids=Projector4,Projector5&amp;path=2.wmv" />
      <!--播放logo-->
      <add Name="--------,-00-----" Command="play?deviceids=Projector4,Projector5&amp;path=logo.jpg" />
      <!--播放常规历史时间线-->
      <add Name="--------,-10-----" Command="play?deviceids=Projector4,Projector5&amp;path=history.jpg" />
      <!--innovation播视频-->
      <add Name="-------0,1-------" Command="play?deviceids=TV2&amp;path=1.wmv" />
      <!--innovation播PPT-->
      <add Name="-------1,0-------" Command="play?deviceids=TV2&amp;path=2008.ppsx" />
      <!--innovation播logo-->
      <add Name="-------0,0-------" Command="play?deviceids=TV2&amp;path=logo.jpg" />



      <!--3连屏-office-p1-cn-->
      <add Name="0000001-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p1-cn.jpg" />
      <!--3连屏-office-p2-cn-->
      <add Name="0000010-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p2-cn.jpg" />
      <!--3连屏-office-p3-cn-->
      <add Name="0000011-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p3-cn.jpg" />
      <!--3连屏-office-p4-cn-->
      <add Name="0000100-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p4-cn.jpg" />
      <!--3连屏-office-p5-cn-->
      <add Name="0000101-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p5-cn.jpg" />
      <!--3连屏-office-p6-cn-->
      <add Name="0000110-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p6-cn.jpg" />
      <!--3连屏-office-p7-cn-->
      <add Name="0000111-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p7-cn.jpg" />
      <!--3连屏-office-p8-cn-->
      <add Name="0001000-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p8-cn.jpg" />
      <!--3连屏-office-p9-cn-->
      <add Name="0001001-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p9-cn.jpg" />
      <!--3连屏-office-p10-cn-->
      <add Name="0001010-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p10-cn.jpg" />
      <!--3连屏-office-p11-cn-->
      <add Name="0001011-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p11-cn.jpg" />
      <!--3连屏-office-p12-cn-->
      <add Name="0001100-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p12-cn.jpg" />
      <!--3连屏-office-p13-cn-->
      <add Name="0001101-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p13-cn.jpg" />
      <!--3连屏-office-p14-cn-->
      <add Name="0001110-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p14-cn.jpg" />
      <!--3连屏-office-p15-cn-->
      <add Name="0001111-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p15-cn.jpg" />
      <!--3连屏-office-p16-cn-->
      <add Name="0010000-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p16-cn.jpg" />
      <!--3连屏-office-p17-cn-->
      <add Name="0010001-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p17-cn.jpg" />
      <!--3连屏-office-p18-cn-->
      <add Name="0010010-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p18-cn.jpg" />
      <!--3连屏-office-p19-cn-->
      <add Name="0010011-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p19-cn.jpg" />
      <!--3连屏-office-p20-cn-->
      <add Name="0010100-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p20-cn.jpg" />



      <!--3连屏-office-p1-en-->
      <add Name="0010101-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p1-en.jpg" />
      <!--3连屏-office-p2-en-->
      <add Name="0010110-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p2-en.jpg" />
      <!--3连屏-office-p3-en-->
      <add Name="0010111-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p3-en.jpg" />
      <!--3连屏-office-p4-en-->
      <add Name="0011000-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p4-en.jpg" />
      <!--3连屏-office-p5-en-->
      <add Name="0011001-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p5-en.jpg" />
      <!--3连屏-office-p6-en-->
      <add Name="0011010-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p6-en.jpg" />
      <!--3连屏-office-p7-en-->
      <add Name="0011011-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p7-en.jpg" />
      <!--3连屏-office-p8-en-->
      <add Name="0011100-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p8-en.jpg" />
      <!--3连屏-office-p9-en-->
      <add Name="0011101-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p9-en.jpg" />
      <!--3连屏-office-p10-en-->
      <add Name="0011110-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p10-en.jpg" />
      <!--3连屏-office-p11-en-->
      <add Name="0011111-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p11-en.jpg" />
      <!--3连屏-office-p12-en-->
      <add Name="0100000-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p12-en.jpg" />
      <!--3连屏-office-p13-en-->
      <add Name="0100001-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p13-en.jpg" />
      <!--3连屏-office-p14-en-->
      <add Name="0100010-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p14-en.jpg" />
      <!--3连屏-office-p15-en-->
      <add Name="0100011-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p15-en.jpg" />
      <!--3连屏-office-p16-en-->
      <add Name="0100100-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p16-en.jpg" />
      <!--3连屏-office-p17-en-->
      <add Name="0100101-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p17-en.jpg" />
      <!--3连屏-office-p18-en-->
      <add Name="0100110-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p18-en.jpg" />
      <!--3连屏-office-p19-en-->
      <add Name="0100111-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p19-en.jpg" />
      <!--3连屏-office-p20-en-->
      <add Name="0101000-,--------" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office-p20-en.jpg" />
    </commands>
  </modbusReceiverConfiguration>
  <appSettings>
    <add key="deviceId" value="PC_Boss" />
    <add key="projectorPowerOnInterval" value="60" /> <!-- projector PowerOn then HDMI command interval in second -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>