<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="ipEndPointsConfiguration" type="TCell.Configuration.IPEndPoint.IPEndPointsSection, TCell.Configuration" />
    <section name="powerOnMachineConfiguration" type="TCell.WindowsServicePlugins.PowerOnActor.Configuration.PowerOnSection, TCell.WindowsServicePlugins.PowerOnActor" />
    <section name="modbusReceiverConfiguration" type="Mexxum.WindowsServicePlugins.ModbusCommand.Configuration.ModbusReceiverSection, Mexxum.WindowsServicePlugins.ModbusCommand" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="TCell.Logging">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="c:/tcell/log/uni-windows-service.log" formatter="Text Formatter" rollSizeKB="8192" maxArchivedFiles="100"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           template="Timestamp: {timestamp}{newline}Message: {message}{newline}Category: {category}{newline}Priority: {priority}{newline}EventId: {eventid}{newline}Severity: {severity}{newline}Title:{title}{newline}Machine: {localMachine}{newline}App Domain: {localAppDomain}{newline}ProcessId: {localProcessId}{newline}Process Name: {localProcessName}{newline}Thread Name: {threadName}{newline}Win32 ThreadId:{win32ThreadId}{newline}Extended Properties: {dictionary({key} - {value}{newline})}"
           name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="TCell.Logging">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <ipEndPointsConfiguration>
    <ipEndPoints>
      <add Id="uniServiceTcpLocal" Protocol="Tcp" Port="20000" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />

      <add Id="uniServiceUdpLocal" Protocol="Udp" Port="20001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="uniServiceUdpRemote" Protocol="Udp" IP="127.0.0.1" Port="20002" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />

      <add Id="uniServiceUdpBroadcast" Protocol="Udp" IP="192.168.0.255" Port="25000" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />

      <add Id="udpActor1" Category="UdpActor" Protocol="Udp" IP="192.168.0.100" Port="25001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="udpActor2" Category="UdpActor" Protocol="Udp" IP="192.168.0.101" Port="25001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="udpActor3" Category="UdpActor" Protocol="Udp" IP="192.168.0.102" Port="25001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="tcpActor1" Category="TcpActor" Protocol="Tcp" IP="192.168.0.100" Port="25001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="tcpActor2" Category="TcpActor" Protocol="Tcp" IP="192.168.0.101" Port="25001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="tcpActor3" Category="TcpActor" Protocol="Tcp" IP="192.168.0.102" Port="25001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />

      <add Id="windowsServiceModbusReceiver" Protocol="Tcp" IP="192.168.3.10" Port="10000" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
    </ipEndPoints>
  </ipEndPointsConfiguration>
  <powerOnMachineConfiguration>
    <!-- Binary, Decimal, Hexdecimal -->
    <powerOn N-Nary="Hexdecimal" />
    <machines>
      <add Name="machine1" Mac="00-E0-4C-68-C7-57" />
      <add Name="machine2" Mac="00-E0-70-26-11-1F" />
    </machines>
  </powerOnMachineConfiguration>
  <modbusReceiverConfiguration>
    <!-- QueryInterval in milli second -->
    <!-- Binary, Decimal, Hexdecimal -->
    <modbusReceiver QueryInterval="500" N-Nary="Decimal" />
    <commands>
      <add Name="65" Command="play?deviceids=PC_Boss,PC_Slave&amp;path=C:\Projects\Mexxum\UAES\互动赛车体验升级方案-0723 David.ppsx" />
      <add Name="65,66" Command="ppt-control?deviceids=PC_Boss,PC_Slave&amp;path=C:\Projects\Mexxum\UAES\互动赛车体验升级方案-0723 David.ppsx&amp;action=last" />
      <add Name="65,66,67" Command="ppt-control?deviceids=PC_Boss,PC_Slave&amp;path=C:\Projects\Mexxum\UAES\互动赛车体验升级方案-0723 David.ppsx&amp;action=close" />
    </commands>
  </modbusReceiverConfiguration>
  <appSettings>
    <add key="deviceId" value="PC_Boss" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>