<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="ipEndPointsConfiguration" type="TCell.Configuration.IPEndPoint.IPEndPointsSection, TCell.Configuration" />
    <section name="serialPortsConfiguration" type="TCell.Configuration.SerialPort.SerialPortsSection, TCell.Configuration" />
    <section name="modbusReceiverConfiguration" type="Mexxum.WindowsServicePlugins.ModbusCommand.Configuration.ModbusReceiverSection, Mexxum.WindowsServicePlugins.ModbusCommand" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="TCell.Logging">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="log/uni-windows-service.log" formatter="Text Formatter" rollSizeKB="8192" maxArchivedFiles="100"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           template="Timestamp: {timestamp}{newline}Message: {message}{newline}Category: {category}{newline}Priority: {priority}{newline}EventId: {eventid}{newline}Severity: {severity}{newline}Title:{title}{newline}Machine: {localMachine}{newline}App Domain: {localAppDomain}{newline}ProcessId: {localProcessId}{newline}Process Name: {localProcessName}{newline}Thread Name: {threadName}{newline}Win32 ThreadId:{win32ThreadId}{newline}Extended Properties: {dictionary({key} - {value}{newline})}"
           name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="TCell.Logging">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <ipEndPointsConfiguration>
    <ipEndPoints>
      <add Id="uniServiceUdpLocal" Protocol="Udp" Port="10001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="uniServiceUdpBroadcast" Protocol="Udp" IP="222.222.221.255" Port="10002" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />

      <add Id="windowsServiceModbusReceiver" Protocol="Tcp" IP="222.222.221.254" Port="502" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
    </ipEndPoints>
  </ipEndPointsConfiguration>
  <serialPortsConfiguration>
    <serialPorts>
      <add Id="Projector1" PortName="COM5" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
      <add Id="Projector2" PortName="COM6" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
      <add Id="Projector3" PortName="COM7" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
      <add Id="Projector4" PortName="COM8" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
      <add Id="Projector5" PortName="COM9" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
      <add Id="Projector6" PortName="COM10" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
    </serialPorts>
  </serialPortsConfiguration>
  <modbusReceiverConfiguration>
    <!-- QueryInterval in milli second -->
    <!-- Binary, Decimal, Hexdecimal -->
    <modbusReceiver QueryInterval="1800" N-Nary="Binary" />
    <lineCombination Lines="16">
      <commands>
        <!--投影开关机-->
        <add Name="J" Command="epsonPowerSwitch" />
      </commands>
    </lineCombination>
    <lineCombination Lines="15">
      <commands>
        <!--innovation TV播logo(1116 temp for KNX corner function)-->
        <add Name="0" Command="play?deviceids=TV3&amp;path=no.jpg" />
        <!--innovation TV播视频(1116 temp for KNX corner function)-->
        <add Name="1" Command="play?deviceids=TV3&amp;path=KNX_corner_2.mp4" />
      </commands>
    </lineCombination>
    <lineCombination Lines="14">
      <commands>
        <!--KNX电视视频播放,Innovation TV2 and projector6同时播视频-->
        <add Name="1" Command="play?deviceids=TV1,TV2,Projector6&amp;path=1.mp4" />
        <!--KNX电视logo(模拟ipad画面)，Innovation同时播-->
        <add Name="0" Command="play?deviceids=TV1,TV2,Projector6&amp;path=no.jpg" />
      </commands>
    </lineCombination>
    <lineCombination Lines="12,13">
      <commands>
        <!--PPT下一页-->
        <add Name="01" Command="ppt-control?deviceids=Projector1,Projector2,Projector3&amp;action=next" />
        <!--PPT上一页-->
        <add Name="10" Command="ppt-control?deviceids=Projector1,Projector2,Projector3&amp;action=previous" />
        <!--PPT第一页-->
        <add Name="11" Command="ppt-control?deviceids=Projector1,Projector2,Projector3&amp;action=first" />
      </commands>
    </lineCombination>
    <lineCombination Lines="10,11">
      <commands>
        <!--历史拼屏播放定制-->
        <add Name="01" Command="play?deviceids=Projector4,Projector5&amp;path=2.jpg" />
        <!--历史拼屏播放logo-->
        <add Name="00" Command="play?deviceids=Projector4,Projector5&amp;path=no.jpg" />
        <!--历史拼屏播放常规历史时间线-->
        <add Name="10" Command="play?deviceids=Projector4,Projector5&amp;path=1.jpg" />
      </commands>
    </lineCombination>
    <lineCombination Lines="8,9">
      <commands>
        <!--3连屏-Office PPT-->
        <add Name="10" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=office.ppsx" />
        <!--3连屏-Hotel PPT-->
        <add Name="01" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=hotel.ppsx" />
        <!--3连屏-Residential PPT-->
        <add Name="11" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=residential.ppsx" />
      </commands>
    </lineCombination>
    <lineCombination Lines="1,2,3,4,5,6,7">
      <commands>
        <!--3连屏-office-p1-cn-->
        <add Name="0000001" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=1.jpg" />
        <!--3连屏-office-p2-cn-->
        <add Name="0000010" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=2.jpg" />
        <!--3连屏-office-p3-cn-->
        <add Name="0000011" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=3.jpg" />
        <!--3连屏-office-p4-cn-->
        <add Name="0000100" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=4.jpg" />
        <!--3连屏-office-p5-cn-->
        <add Name="0000101" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=5.jpg" />
        <!--3连屏-office-p6-cn-->
        <add Name="0000110" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=6.jpg" />
        <!--3连屏-office-p7-cn-->
        <add Name="0000111" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=7.jpg" />
        <!--3连屏-office-p8-cn-->
        <add Name="0001000" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=8.jpg" />
        <!--3连屏-office-p9-cn-->
        <add Name="0001001" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=9.jpg" />
        <!--3连屏-office-p10-cn-->
        <add Name="0001010" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=10.jpg" />
        <!--3连屏-office-p11-cn-->
        <add Name="0001011" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=11.jpg" />
        <!--3连屏-office-p12-cn-->
        <add Name="0001100" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=12.jpg" />
        <!--3连屏-office-p13-cn-->
        <add Name="0001101" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=13.jpg" />
        <!--3连屏-office-p14-cn-->
        <add Name="0001110" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=14.jpg" />
        <!--3连屏-office-p15-cn-->
        <add Name="0001111" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=15.jpg" />
        <!--3连屏-office-p16-cn-->
        <add Name="0010000" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=16.jpg" />
        <!--3连屏-office-p17-cn-->
        <add Name="0010001" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=17.jpg" />
        <!--3连屏-office-p18-cn-->
        <add Name="0010010" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=18.jpg" />
        <!--3连屏-office-p19-cn-->
        <add Name="0010011" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=19.jpg" />
        <!--3连屏-office-p20-cn-->
        <add Name="0010100" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=20.jpg" />



        <!--3连屏-office-p1-en-->
        <add Name="0010101" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=1.jpg" />
        <!--3连屏-office-p2-en-->
        <add Name="0010110" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=2.jpg" />
        <!--3连屏-office-p3-en-->
        <add Name="0010111" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=3.jpg" />
        <!--3连屏-office-p4-en-->
        <add Name="0011000" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=4.jpg" />
        <!--3连屏-office-p5-en-->
        <add Name="0011001" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=5.jpg" />
        <!--3连屏-office-p6-en-->
        <add Name="0011010" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=6.jpg" />
        <!--3连屏-office-p7-en-->
        <add Name="0011011" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=7.jpg" />
        <!--3连屏-office-p8-en-->
        <add Name="0011100" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=8.jpg" />
        <!--3连屏-office-p9-en-->
        <add Name="0011101" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=9.jpg" />
        <!--3连屏-office-p10-en-->
        <add Name="0011110" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=10.jpg" />
        <!--3连屏-office-p11-en-->
        <add Name="0011111" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=11.jpg" />
        <!--3连屏-office-p12-en-->
        <add Name="0100000" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=12.jpg" />
        <!--3连屏-office-p13-en-->
        <add Name="0100001" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=13.jpg" />
        <!--3连屏-office-p14-en-->
        <add Name="0100010" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=14.jpg" />
        <!--3连屏-office-p15-en-->
        <add Name="0100011" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=15.jpg" />
        <!--3连屏-office-p16-en-->
        <add Name="0100100" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=16.jpg" />
        <!--3连屏-office-p17-en-->
        <add Name="0100101" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=17.jpg" />
        <!--3连屏-office-p18-en-->
        <add Name="0100110" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=18.jpg" />
        <!--3连屏-office-p19-en-->
        <add Name="0100111" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=19.jpg" />
        <!--3连屏-office-p20-en-->
        <add Name="0101000" Command="play?deviceids=Projector1,Projector2,Projector3&amp;path=20.jpg" />
      </commands>
    </lineCombination>
  </modbusReceiverConfiguration>
  <appSettings>
    <add key="deviceId" value="Server" />
    <add key="projectorPowerOnInterval" value="60" />
    <!-- projector PowerOn then HDMI command interval in second -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>