<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ipEndPointsConfiguration" type="TCell.Configuration.IPEndPoint.IPEndPointsSection, TCell.Configuration" />
  </configSections>
  <ipEndPointsConfiguration>
    <ipEndPoints>
      <add Id="uniServiceUdpBroadcast" Protocol="Udp" IP="192.168.0.255" Port="25000" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
    </ipEndPoints>
  </ipEndPointsConfiguration>
</configuration>