<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="powerOnMachineConfiguration" type="TCell.WindowsServicePlugins.PowerOnActor.Configuration.PowerOnSection, TCell.WindowsServicePlugins.PowerOnActor" />
  </configSections>
  <powerOnMachineConfiguration>
    <!-- Binary, Decimal, Hexdecimal -->
    <powerOn N-Nary="Hexdecimal" />
    <machines>
      <add Name="machine1" Mac="00-E0-4C-68-C7-57" />
      <add Name="machine2" Mac="00-E0-70-26-11-1F" />
    </machines>
  </powerOnMachineConfiguration>
</configuration>