<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ipEndPointsConfiguration" type="TCell.Configuration.IPEndPoint.IPEndPointsSection, TCell.Configuration" />
  </configSections>
  <ipEndPointsConfiguration>
    <ipEndPoints>
      <add Id="mediaPlayerUdpLocal" Protocol="Udp" Port="10001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="mediaPlayerUdpRemote" Protocol="Udp" IP="127.0.0.1" Port="10002" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
    </ipEndPoints>
  </ipEndPointsConfiguration>
</configuration>