<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="imagePlayerConfiguration" type="TCell.MediaPlayerPlugins.ImagePlayer.Configuration.ImagePlayerSection, TCell.MediaPlayerPlugins.ImagePlayer" />
  </configSections>
  <imagePlayerConfiguration>
    <!-- None/Fill/Uniform/UniformToFill -->
    <imagePlayer Stretch="Uniform" />
  </imagePlayerConfiguration>
</configuration>