<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="ipEndPointsConfiguration" type="TCell.Configuration.IPEndPoint.IPEndPointsSection, TCell.Configuration" />
    <section name="serialPortsConfiguration" type="TCell.Configuration.SerialPort.SerialPortsSection, TCell.Configuration" />
    <section name="modbusReceiverConfiguration" type="Mexxum.WindowsServicePlugins.ModbusCommand.Configuration.ModbusReceiverSection, Mexxum.WindowsServicePlugins.ModbusCommand" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="TCell.Logging">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="log/uni-windows-service.log" formatter="Text Formatter" rollSizeKB="8192" maxArchivedFiles="100"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           template="Timestamp: {timestamp}{newline}Message: {message}{newline}Category: {category}{newline}Priority: {priority}{newline}EventId: {eventid}{newline}Severity: {severity}{newline}Title:{title}{newline}Machine: {localMachine}{newline}App Domain: {localAppDomain}{newline}ProcessId: {localProcessId}{newline}Process Name: {localProcessName}{newline}Thread Name: {threadName}{newline}Win32 ThreadId:{win32ThreadId}{newline}Extended Properties: {dictionary({key} - {value}{newline})}"
           name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="TCell.Logging">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <ipEndPointsConfiguration>
    <ipEndPoints>
      <add Id="uniServiceUdpLocal" Protocol="Udp" Port="10001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="uniServiceUdpBroadcast" Protocol="Udp" IP="222.222.221.255" Port="10001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />

      <add Id="windowsServiceModbusReceiver" Protocol="Tcp" IP="222.222.221.254" Port="502" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
    </ipEndPoints>
  </ipEndPointsConfiguration>
  <serialPortsConfiguration>
    <serialPorts>
      <add Id="Projector1" PortName="COM5" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
      <add Id="Projector2" PortName="COM6" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
      <add Id="Projector3" PortName="COM7" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
      <add Id="Projector4" PortName="COM8" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
      <add Id="Projector5" PortName="COM9" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
      <add Id="Projector6" PortName="COM10" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
    </serialPorts>
  </serialPortsConfiguration>
  <modbusReceiverConfiguration>
    <!-- QueryInterval in milli second -->
    <!-- Binary, Decimal, Hexdecimal -->
    <modbusReceiver QueryInterval="500" N-Nary="Binary" />
    <lineCombination Lines="16">
      <commands>
        <!--投影开关机-->
        <add Name="J" Command="epsonPowerSwitch" />
      </commands>
    </lineCombination>
    <lineCombination Lines="15">
      <commands>
        <!--视频暂停-->
        <add Name="1" Command="pause" />
        <!--视频播放-->
        <add Name="0" Command="play" />
      </commands>
    </lineCombination>
    <lineCombination Lines="12,13">
      <commands>
        <!--PPT下一页-->
        <add Name="01" Command="ppt-control?deviceids=TV2&amp;action=next" />
        <!--PPT上一页-->
        <add Name="10" Command="ppt-control?deviceids=TV2&amp;action=previous" />
        <!--PPT第一页-->
        <add Name="11" Command="ppt-control?deviceids=TV2&amp;action=first" />
      </commands>
    </lineCombination>
  </modbusReceiverConfiguration>
  <appSettings>
    <add key="deviceId" value="Server" />
    <add key="projectorPowerOnInterval" value="60" />
    <!-- projector PowerOn then HDMI command interval in second -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>