<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ipEndPointsConfiguration" type="TCell.Configuration.IPEndPoint.IPEndPointsSection, TCell.Configuration" />
  </configSections>
  <ipEndPointsConfiguration>
    <ipEndPoints>
      <add Id="tcpActor1" Category="TcpActor" Protocol="Tcp" IP="192.168.0.100" Port="25001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="tcpActor2" Category="TcpActor" Protocol="Tcp" IP="192.168.0.101" Port="25001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="tcpActor3" Category="TcpActor" Protocol="Tcp" IP="192.168.0.102" Port="25001" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
    </ipEndPoints>
  </ipEndPointsConfiguration>
</configuration>