<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serialPortsConfiguration" type="TCell.Configuration.SerialPort.SerialPortsSection, TCell.Configuration" />
  </configSections>
  <serialPortsConfiguration>
    <serialPorts>
      <add Id="SerialPort" PortName="COM3" BaudRate="9600" DataBits="8" Parity="None" StopBits="One" Encoding="ASCII" ReadTimeout="100" WriteTimeout="100" />
    </serialPorts>
  </serialPortsConfiguration>
</configuration>