<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ipEndPointsConfiguration" type="TCell.Configuration.IPEndPoint.IPEndPointsSection, TCell.Configuration" />
  </configSections>
  <ipEndPointsConfiguration>
    <ipEndPoints>
      <add Id="sampleTcp" Protocol="Tcp" IP="192.168.10.10" Port="10000" ReadTimeout="200" WriteTimeout="200" />
      <add Id="sampleUdp" Protocol="Udp" IP="192.168.20.20" Port="20000" ReadTimeout="300" WriteTimeout="300" />
    </ipEndPoints>
  </ipEndPointsConfiguration>
</configuration>