<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ipEndPointsConfiguration" type="TCell.Configuration.IPEndPoint.IPEndPointsSection, TCell.Configuration" />
    <section name="mappingsConfiguration" type="TCell.Configuration.Mapping.MappingsSection, TCell.Configuration" />
  </configSections>
  <ipEndPointsConfiguration>
    <ipEndPoints>
      <add Id="sampleTcp" Protocol="Tcp" IP="192.168.10.10" Port="10000" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
      <add Id="sampleUdp" Protocol="Udp" IP="192.168.20.20" Port="20000" ReadTimeout="300" WriteTimeout="300" BufferLength="1024" />
    </ipEndPoints>
  </ipEndPointsConfiguration>
  <mappingsConfiguration>
    <mappings>
      <add Id="sample1" Value="sampleValue1" Category="sampleCategory" />
      <add Id="sample2" Value="sampleValue2" Category="sampleCategory" />
      <add Id="restApi1" Value="http://www.test.com/api/login?user=guest" Category="restfulApiUrl" />
      <add Id="restApi2" Value="http://www.test.com/api/mall" Category="restfulApiUrl" />
    </mappings>
  </mappingsConfiguration>
</configuration>