<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ipEndPointsConfiguration" type="TCell.Configuration.IPEndPoint.IPEndPointsSection, TCell.Configuration" />
    <section name="modbusReceiverConfiguration" type="Mexxum.WindowsServicePlugins.ModbusCommand.Configuration.ModbusReceiverSection, Mexxum.WindowsServicePlugins.ModbusCommand" />
  </configSections>
  <ipEndPointsConfiguration>
    <ipEndPoints>
      <add Id="windowsServiceModbusReceiver" Protocol="Tcp" IP="192.168.3.10" Port="10000" ReadTimeout="200" WriteTimeout="200" BufferLength="512" />
    </ipEndPoints>
  </ipEndPointsConfiguration>
  <modbusReceiverConfiguration>
    <!-- QueryInterval in milli second -->
    <!-- Binary, Decimal, Hexdecimal -->
    <modbusReceiver QueryInterval="500" N-Nary="Binary" />
    <commands>
      <add Name="00000001" Command="play?deviceids=PC_Boss,PC_Slave&amp;path=C:\Projects\Mexxum\UAES\互动赛车体验升级方案-0723 David.ppsx" />
      <add Name="00000010" Command="ppt-control?deviceids=PC_Boss,PC_Slave&amp;path=C:\Projects\Mexxum\UAES\互动赛车体验升级方案-0723 David.ppsx&amp;action=last" />
      <add Name="00000011" Command="ppt-control?deviceids=PC_Boss,PC_Slave&amp;path=C:\Projects\Mexxum\UAES\互动赛车体验升级方案-0723 David.ppsx&amp;action=close" />
    </commands>
  </modbusReceiverConfiguration>
</configuration>